:root {
  --font-base: "Source Sans Pro", sans-serif;
  --font-heading: "Volkhov", serif;
  --header-bg: #222222;
  --header-color: #fff;
  --header-logo-color: #fb811e;
  --color-1: #0b0d0e;
  --color-2: var(--color-1);
  --color-3: rgb(23 19 19);
  --navbar-color: #fff;
  --font-color: #707070;
  --bg-color: #222222;
  --border-color-light: rgba(255, 255, 255, 0.2);
}
body {
  font-family: var(--font-base);
}
.header {
  /* background-color: var(--header-bg); */
  padding: var(--header-spacing);
  position: fixed;
  top: 0;
  left: 0;
  /* right: 0; */
  width: 100%;
  z-index: 999;
}

.header.inverted {
  background-color: var(--header-bg);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}
.header a {
  color: #fff;
}
.header .navbar-brand {
  color: var(--header-logo-color);
  font-size: 32px;
  font-family: var(--font-heading);
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 10px;
  margin-bottom: 10pxx;
}
.header.inverted .navbar-brand {
  color: var(--header-color);
}
.header .navbar-brand i {
  position: absolute;
  top: 0;
  left: 55px;
  font-size: 20px;
  z-index: 1;
}
.menu-dropdown .fa-bars {
  font-size: 29px;
}
.header .dropdown-menu {
  background-color: var(--header-bg);
  min-width: 232px;
}
.header .dropdown-menu a {
  text-align: center;
  font-weight: 600;
  transition: all 0.2s linear;
}
.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
  background: none;
  color: var(--header-logo-color);
}
.theme-toggler .fa-moon {
  display: none;
}
.theme-toggler a:hover {
  color: var(--header-logo-color);
  transition: 0.4s linear;
}

.theme-toggler .is-active .fa-moon {
  display: inline-block;
}

.theme-toggler .is-active .fa-sun {
  display: none;
}
.form-inline .form-control.search-input {
  width: 35px;
}
.form-inline .form-control.search-input:active,
.form-inline .form-control.search-input:focus {
  width: 200px;
}
.search-input {
  background-image: url("https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/search.png");
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: 10px center;
  padding-left: 30px;
  padding-right: 5px;
  height: 35px;
  border-radius: 35px;
  cursor: pointer;
  width: 35px;
  transition: all 0.4s linear;
}
.form-control:focus {
  box-shadow: none;
  border-color: transparent;
}
/* Welcome */
.welcome {
  background-color: var(--header-bg);
  height: 100vh;
}
.welcome > .container,
.welcome .banner_left {
  height: 100%;
}
.welcome .carousel-item {
  padding-top: 100vh;
  height: 0;
}
.welcome .carousel-item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 17%);
  z-index: 1;
  top: 0;
}
.banner_left_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.banner_left_content h2 {
  color: var(--color-2);
  font-size: 100px;
  font-weight: bold;
  font-family: "Volkhov", serif;
  line-height: 28px;
  margin-left: -45px;
  position: relative;
  bottom: -10px;
}

.banner_content h3 {
  font-size: 40px;
  line-height: 50px;
  position: relative;
  z-index: 1;
}
h3,
h4,
h5 {
  font-weight: bold;
  color: var(--header-color);
  font-family: "Volkhov", serif;
}
.banner_left {
  width: 45%;
  position: relative;
  z-index: 2;
}
.banner_right {
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.banner_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
/* Grow Naturally */
.naturally {
  background-color: var(--header-bg);
}
.content_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.naturally h5 {
  color: #fb811e;
}
.content_left h5 {
  font-size: 22px;
}
.content_left h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: var(--header-color);
  font-family: "Volkhov", serif;
}
p {
  color: #b7b7b7;
  font-size: 17px;
}
.btn-style {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: var(--header-logo-color);
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
  max-width: 200px;
}
.btn-style:hover {
  background: #009f4d;
  color: #fff;
}
.content {
  display: flex;
  height: 100%;
}
.content_left,
.content_right {
  width: 50%;
}
.content_right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.box-wrap {
  padding: 40px 30px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 1rem 3rem var(--color-3);
  background-color: var(--header-bg);
}
.box-wrap img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}
.box-wrap a {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: var(--header-color);
  font-family: "Volkhov", serif;
  cursor: pointer;
  text-decoration: none;
}
.box-wrap a:hover {
  color: #009f4d;
  transition: 1s;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.carousel-caption {
  text-align: center;
  right: 30px;
  left: auto;
}
.carousel-caption h4 {
  margin-bottom: 0;
  color: #fff;
}
.carousel-caption p {
  color: #fff;
}
.carousel-caption span {
  font-family: var(--font-base);
}
.carousel-indicators .active {
  background-color: var(--header-logo-color);
}
/* max-width 767px */
@media screen and (max-width: 767px) {
  .header .navbar-brand {
    color: #fff;
  }
  .banner_right,
  .banner_left {
    width: 100%;
  }

  .banner_left {
    height: auto;
    display: flex;
    align-items: center;
  }
  .banner_left_content {
    height: auto;
    background: var(--header-bg);
    padding: 40px 32px 32px 40px;
    border-radius: 8px;
  }
  .banner_left_content h2 {
    font-size: 100px;
    margin-left: -30px;
    position: relative;
    bottom: -10px;
  }
  .banner_content h3 {
    font-size: 40px;
    line-height: 50px;
    position: relative;
    z-index: 1;
  }
  .banner-text {
    margin: 0;
    font-size: 20px;
  }
  .naturally .content {
    display: block;
  }
  .content_left,
  .content_right {
    width: 100%;
  }
  .content_left {
    margin-bottom: 50px;
  }

  /* Start reset navbar collapse */
  .header .navbar-collapse {
    flex-basis: auto;
    flex-grow: 1;
    display: flex;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .navbar-nav .nav-link {
    padding: 0.5rem;
  }
  .header .dropdown-menu {
    position: absolute;
  }
}
.inverted .navbar-nav .nav-link {
  color: var(--navbar-color);
}

/* Start theme */
[data-color="dark"] {
  --color-1: #fff;
  --header-color: #000;
  --header-bg: #fff;
  --color-2: #dedede;
  --color-3: rgb(0 0 0 / 3%);
  --navbar-color: #000;
  --bg-color: #fff;
  --font-color: #707070;
  --border-color-light: #eee;
}
.header .dropdown-item {
  color: var(--header-color);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.service-section p,
.choose_us p,
.index_section p {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 27px;
  /* color: var(--font-color); */
}

/* start service */
.service-section {
  background: #009f4d;
}

.service-section .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--bg-color);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px;
}

.service-section h4.title-bg-content {
  position: absolute;
  color: #fff;
  font-weight: bold;
  z-index: 0;
  opacity: 0.14;
  font-size: 12vw;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}

.service-section span.label-style {
  color: #009f4d;
  display: inline-block;
  background: rgb(0 159 77 / 16%);
  padding: 5px 20px;
  border-radius: 15px;
  font-weight: 600;
}

a.service-heading {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: var(--header-color);
  margin: 15px 0;
  text-decoration: none;
  transition: 0.5s all;
}

a.service-heading:hover {
  color: #009f4d;
  text-decoration: none;
  transition: 0.5s all;
}

.service-section .card img {
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.service-details {
  background: #fff;
  padding: 30px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
  border: 1px solid #eee;
  border-top: none;
}

.service-section .title-style {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #060606;
}

/* start why choose us */
.choose_us {
  background-color: var(--header-bg);
}
.choose_us .align-self {
  align-self: center;
}

.choose_us h5.small-title {
  color: #fb811e;
  font-size: 22px;
}

.choose_us .title-style {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: var(--header-color);
}

.choose_us .body_text {
  margin-top: 1.5rem;
}

.choose_us .grids_info .fa {
  font-size: 30px;
  color: #fb811e;
}

.choose_us .radius-image {
  border-radius: 30px;
}

.choose_us .imginfo_box {
  background-color: #fb811e;
  color: #fff;
  position: absolute;
  left: -85px;
  bottom: 38px;
  padding: 40px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  min-width: 300px;
  border-radius: 0 0 100px 0;
  text-align: center;
}

.choose_us .imginfo_box .imginfo_title {
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  font-weight: 600;
}

.choose_us .imginfo_box p {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2px;
}

@media all and (max-width: 991px) {
  .title-style {
    font-size: 35px;
    line-height: 45px;
  }
  h5.small-title {
    font-size: 20px;
  }
}

@media all and (max-width: 768px) {
  .title-style {
    font-size: 32px;
    line-height: 42px;
  }

  h5.small-title {
    font-size: 18px;
  }
}

@media all and (max-width: 568px) {
  .title-style {
    font-size: 30px;
    line-height: 40px;
  }
}

/* start index */

.index_section {
  background-color: var(--header-bg);
}

.index_section .features15-col-text {
  margin-top: 30px;
}

.index_section .feature-unit {
  border-radius: 10px;
  border: 0.5px solid transparent;
  padding: 2rem 1rem;
  transition: 0.3s ease-in;
}

.index_section .features15-para h4 {
  font-size: 22px;
  line-height: 25px;
  font-weight: 600;
  color: var(--header-color);
}

.index_section .features15-para p {
  margin-top: 10px;
  /* color: #707070; */
}

.index_section a.feature-unit {
  text-decoration: none;
}

.index_section .features15-col-text:hover div.features15-para h4 {
  transition: 0.3s ease-in-out;
  color: #009f4d;
}

.index_section .features15-para h4:hover {
  transition: 0.3s ease-in-out;
  color: #009f4d;
}

.index_section .feature-unit:hover,
.index_section .feature-unit.active {
  border: 1px solid var(--border-color-light);
  transition: 0.3s ease-in;
}

/* start gallery */
.gallery {
  display: flex;
  background-color: var(--header-bg);
}

/* grid  */
.gallery_list_1 {
  display: flex;
}
.gallery .gallery_list_1a {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}
.gallery .gallery_list_1b {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}
.gallery_list_2 {
  display: flex;
}
.gallery .gallery_list_2a {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}
.gallery .gallery_list_2b {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}

/* overplay  */
.gallery_item {
  position: relative;
  overflow: hidden;
}

.gallery_item img {
  height: 100%;
  width: 100%;
}
.gallery_item .gallery_overplay {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(18, 20, 20, 0.4);
}

/* chỉnh text  */
.gallery_item_text h5 {
  font-size: 22px;
  color: #fb811e;
}
.gallery_item_text h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: black;
  color: var(--header-color);
}
.gallery_overplay .gallery_text p {
  position: absolute;
  z-index: 1;
  bottom: 0;
  font-size: 22px;
  color: white;
  font-weight: bold;
  background: rgb(255 255 255 / 27%);
  text-align: center;
  line-height: center;
  padding: 6px;
  left: 0;
  right: 0;
  margin: 20px;
}

/* chỉnh hover  */
.gallery_item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: 0.75s;
}

.gallery_item:hover::before {
  left: 125%;
}

.gallery_item .gallery_overplay:hover {
  opacity: 1;
}
/* end gallery  */

/* start testimonial  */
.testimonial {
  position: relative;
  text-align: center;
  background-image: url(./image/image25.jpg);
  background-size: 120%;
  height: 80vh;
  background-position: left top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--header-bg);
}
.testimonial_img::before {
  content: "";
  background: rgb(10 10 10 / 52%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: 1;
}

.testimonial__text {
  display: flex;
  margin: 0 120px;
}
/* start testimonial__left */
.testimonial__left {
  width: 25%;
  padding-top: 30px;
}
.testimonial__left img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.testimonial__left h3 {
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0 5px;
  color: white;
}
.testimonial__left p {
  color: white;
  font-size: 16px;
}
/* start testimonial__right */
.testimonial__right {
  width: 75%;
  padding: 0 0 0 40px;
  text-align: left;
}
.testimonial__right p {
  font-size: 22px;
  line-height: 34px;
  color: white;
}
.testimonial__right i {
  font-size: 30px;
  color: #fb811e;
  font-weight: 600;
}
.swiper-pagination-bullets.swiper-pagination-horizontal,
.testimonial .swiper-horizontal > .swiper-pagination-bullets {
  bottom: 70px;
}
.swiper-pagination-bullet {
  background: #fb811e;
  width: 12px;
  height: 12px;
}

/* end testimonial  */

/* start footer  */
footer {
  background-color: var(--header-bg);
}
footer .container {
  display: flex;
  justify-items: center;
}
/* start footer_findUs  */
.footer_findUs {
  width: 33%;
  padding-top: 10px;
  padding-right: 10px;
}
.footer_findUs a {
  text-decoration: none;
  color: #b7b7b7;
}
.footer_findUs a:hover {
  color: #fb811e;
  transition: 0.5s;
}
.footer_findUs h3 {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 600;
  color: black;
  color: var(--header-color);
}
.footer_findUs p {
  margin-bottom: 12px;
}
/* start footer_farmStead */
.footer_farmStead {
  width: 33%;
}
.footer_farmStead .logo {
  font-size: 32px;
  color: #fb811e;
  font-weight: bold;
  position: relative;
}
.footer_farmStead .logo i {
  position: absolute;
  top: -10px;
  left: 55px;
  font-size: 20px;
}
.footer_farmStead a {
  text-decoration: none;
}
.footer_farmStead .copyright a {
  color: #009f4d;
}
.footer_farmStead .logo:hover {
  color: black;
  color: var(--header-color);
  transition: 0.5s;
}
.footer_farmStead .copyright a:hover {
  color: #fb811e;
  transition: 0.5s;
}
.footer_farmStead p:first-of-type {
  margin-top: 20px;
  margin-bottom: 40px;
}
/* start footer_newLetter  */
.footer_newsLetter {
  width: 33%;
  padding-top: 10px;
  padding-left: 15px;
}
.footer_newsLetter h3 {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 600;
  color: black;
  color: var(--header-color);
}
.footer_newsLetter form {
  display: flex;
}
.footer_newsLetter input {
  background: #f4f4f4;
  border: none;
  color: #b7b7b7;
  font-size: 16px;
  padding: 0 20px;
  border-radius: 30px 0px 0px 30px;
  outline: none;
  width: 80%;
  /* background-color: var(--header-bg); */
}
.footer_newsLetter button {
  padding: 12px 12px;
  background-color: #009f4d;
  background-size: 200%;
  cursor: pointer;
  transition: 0.5s;
  width: 20%;
  border: none;
  cursor: pointer;
  border-radius: 0px 30px 30px 0px;
}
.footer_newsLetter button i {
  font-size: 16px;
  color: white;
}
.footer_newsLetter button:hover {
  opacity: 0.8;
  transition: 0.5s;
}

.footer_newsLetter ul {
  display: flex;
  margin-top: 30px;
}
.footer_newsLetter li {
  display: flex;
  list-style: none;
  margin-right: 5px;
}
.footer_newsLetter a {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  background: rgb(10 191 83 / 8%);

  cursor: pointer;
}
.footer_newsLetter i {
  font-size: 15px;
  color: #009f4d;
}
.footer_newsLetter li:hover a {
  background: #fff5dc;
  transition: 0.5s;
}
.footer_newsLetter li:hover a {
  box-shadow: 1px 0 50px rgb(0 0 0 / 30%);
  transition: 0.5s;
}
.footer_newsLetter li:hover i {
  color: #fb811e;
  transition: 0.5s;
}
/* end footer  */

/* start back to top  */
#movetop {
  bottom: 80px;
  right: 15px;
  position: fixed;
  z-index: 1;
  border: none;
  outline: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #009f4d;
  border-radius: 4px;
}
.btt_icon {
  font-size: 16px;
  color: white;
  font-weight: bold;
}
#movetop:hover {
  opacity: 0.8;
  transition: 0.5s;
}

/* responsive  */
@media screen and (max-width: 1199.98px) {
  .gallery_list_1 {
    height: 229px;
  }
  .gallery_list_1 img {
    height: 229px;
  }
  .gallery_list_1 {
    margin-bottom: 30px;
  }
  .gallery_item_text h5 {
    font-size: 20px;
  }
  .gallery_item_text h3 {
    font-size: 35px;
  }
}

@media screen and (max-width: 991.98px) {
  .gallery .gallery_list_1 {
    width: 100%;
    display: block;
    height: 341px;
    margin-bottom: 340px;
  }
  .gallery_item_text {
    width: 345px;
  }
  .gallery_item {
    width: 345px;
  }
  .gallery .gallery_list_2 {
    width: 100%;
    display: block;
    height: 341px;
    margin-bottom: 350px;
  }
  .gallery_item img {
    width: 345px;
    height: 341px;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .testimonial .swiper-horizontal > .swiper-pagination-bullets {
    bottom: 10px;
  }
  .testimonial__left {
    padding-top: 80px;
  }
  footer .container {
    display: block;
  }
  .footer_findUs {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer_farmStead {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer_newsLetter {
    width: 60%;
    margin-bottom: 30px;
    margin-left: -10px;
  }
  .footer_newsLetter ul {
    margin-left: -40px;
  }
}

@media screen and (max-width: 767.98px) {
  .gallery .gallery_list_1 {
    width: 100%;
    display: block;
    height: 252px;
    margin-bottom: 250px;
  }
  .gallery_item_text {
    width: 255px;
  }
  .gallery_item {
    width: 255px;
  }
  .gallery .gallery_list_2 {
    width: 100%;
    display: block;
    height: 252px;
    margin-bottom: 260px;
  }
  .gallery_item img {
    width: 255px;
    height: 252px;
  }
  .testimonial {
    background-size: 200%;
  }
  .testimonial__left {
    padding-top: 110px;
  }
  .testimonial__left img {
    width: 70px;
    height: 70px;
  }
  .testimonial__left h3 {
    font-size: 18px;
  }
  .testimonial__right p {
    font-size: 18px;
    line-height: 25px;
  }
  .testimonial__right i {
    font-size: 22px;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  .footer_newsLetter {
    width: 100%;
  }
}

@media screen and (max-width: 575.98px) {
  .gallery_item_text h5 {
    font-size: 20px;
  }
  .gallery_item_text h3 {
    font-size: 30px;
  }
  .gallery .gallery_list_1 {
    width: 100%;
    display: block;
    height: 224px;
    margin-bottom: 224px;
  }
  .gallery_item_text {
    width: 226px;
  }
  .gallery_item {
    width: 226px;
  }
  .gallery .gallery_list_2 {
    width: 100%;
    display: block;
    height: 224px;
    margin-bottom: 234px;
  }
  .gallery_item img {
    width: 226px;
    height: 224px;
  }
  .testimonial {
    background-size: 200%;
  }
  .testimonial__left {
    padding-top: 120px;
  }
  .testimonial__left img {
    width: 50px;
    height: 50px;
  }
  .testimonial__left h3 {
    font-size: 15px;
  }
  .testimonial__right p {
    font-size: 15px;
    line-height: 25px;
  }
  .testimonial__right i {
    font-size: 18px;
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}

@media screen and (max-width: 450px) {
  .gallery_item_text h5 {
    font-size: 20px;
    margin-bottom: -5px;
  }
  .gallery_item_text h3 {
    font-size: 28px;
  }
  .gallery .gallery_list_1 {
    width: 100%;
    display: block;
    height: 207px;
    margin-bottom: 207px;
  }
  .gallery_item_text {
    width: 210px;
  }
  .gallery_item {
    width: 210px;
  }
  .gallery .gallery_list_2 {
    width: 100%;
    display: block;
    height: 207px;
    margin-bottom: 217px;
  }
  .gallery_item img {
    width: 210px;
    height: 207px;
  }
}

@media screen and (max-width: 320px) {
  .gallery_item_text h5 {
    font-size: 12px;
    margin-bottom: -5px;
  }
  .gallery_item_text h3 {
    font-size: 16px;
    margin-bottom: -5px;
  }
  .gallery_item_text p {
    font-size: 12px;
  }
  .gallery_text p {
    font-size: 13px;
  }
  .gallery .btn-style {
    font-size: 12px;
    padding: 0px 15px;
  }
  .gallery .gallery_list_1 {
    width: 100%;
    display: block;
    height: 143px;
    margin-bottom: 144px;
  }
  .gallery_item_text {
    width: 145px;
  }
  .gallery_item {
    width: 145px;
  }
  .gallery .gallery_list_2 {
    width: 100%;
    display: block;
    height: 143px;
    margin-bottom: 144px;
  }
  .gallery_item img {
    width: 145px;
    height: 143px;
  }
}
